<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="SeleniumProject">
 <test name="Regression">
  <classes>
       <class name="com.edureka.testng.AssignmentEdureka"></class>
  </classes>
 </test> <!-- Regression -->
  </suite> <!-- SeleniumProject -->




  